<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Iconography</h1>
      <p>One of our values is to create a distinguished GitLab personality that is strong and consistent. Iconography is a powerful visual cue to the user and should reflect our particular sense of style.</p>
      <h2>Icon viewer</h2>
      <p>You can view all of the current icons in GitLab at the following link: <a 
        href="http://gitlab-org.gitlab.io/gitlab-svgs/" 
        target="_blank"
      >GitLab SVGs</a></p>
      <h2>Usage</h2>
      <p>Icons are used to stress visual weight for elements with a high priority or to explain the universal knowledge in a simple way.</p>
      <p>The level of visual weight from heavy to light is: <strong>Icon + label > Icon > label.</strong></p>
      <p class="todo">Todo: Add live component block with code example</p>
      <h2>Dos and Dont's</h2>
      <p>Don't use one icon to refer to different meanings. While consistency is important, we need to remain flexible. Some icons are so basic and ubiquitous that it's difficult to detach them and use them without “conflicts”. An example of a “conflicting” use of icons is the X cross icon used for both failed pipelines and closing modals.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Don't use different icons to refer to one specific meaning.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Don't frequently use the combination of an icon and a label. Use the combination only for the elements with high priority. For instance, we use an icon + a label for the contextual navigation.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Don't use an icon to explain a meaning which is not straight-forward. If an icon is not accompanied by a label, provide a quick explanation for users in a tooltip.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Use whole pixels to create icons in order to align properly to a pixel grid. For additional details on grids, visit our <a href="/layout/baseline-grid">baseline grid guide</a>.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Use rounded strokes.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Simplify icons for clarity and legibility.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
      <p>Make the icons front-face instead of different dimensions.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Do</th>
            <th>Don't</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="todo">Todo: Add example</p></td>
            <td><p class="todo">Todo: Add example</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
