<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Component name</h1>
      <p>Component overview. A brief explanation of what the component is.</p>
      <h2>Usage</h2>
      <p>A summary of when and how the component is used.</p>
      <!-- 
        EXAMPLE TABLE, this can be used to highlight Do's & Don'ts or specfic rule sets
        DO NOT add static images to any page at this time.
      -->
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Component type</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Primary button</td>
            <td>The primary call to action on the page.</td>
          </tr>
          <tr>
            <td>Secondary button</td>
            <td>Secondary actions on the page.</td>
          </tr>
        </tbody>
      </table>
      <!-- 
        SUB SECTIONS, use these to highlight component specific rules. You can add as many sub-sections as needed, use your best judgement
        e.g. truncation rules
      -->
      <h3>Sub section</h3>
      <p>A summary of a specific usage guideline.</p>
      <p class="todo">An example of a live component to add related to a usage guideline</p>
      <!-- 
        DEMO, keep this section for all patterns, the code block demo will be added at a later date
      -->
      <h2>Demo</h2>
      <p class="todo">Todo: Add live component block with code example</p>
      <!-- 
        DESIGN SPECIFICATIONS, add a link here to the component-specific sketch-measure preview.
        All design specifications should live in the design repo under 'hosted/design-gitlab-specs/COMPONENTNAME-spec-previews'
        *** If there are max-width, min-width, or other specs that should be known about this component, 
        please add it in Sketch Measur via a note.
        This link must ALWAYS be included.
      -->
      <h2>Design specifications</h2>
      <p>Color, spacing, dimension, and layout specific information pertaining to this component can be viewed using the following link:</p>
      <p><a href="#">Sketch Measure Preview for [Insert component name here]</a></p>
      <!-- 
        RELATED PATTERNS should be similar in usage/type of pattern
        e.g. tooltips, popover, and modals are all similar constructs used for different purposes
        Remove this section if there are no related patterns at this time. Please list them in alphabetical order. 
      -->
      <h2>Related patterns</h2>
      <ul>
        <li><a href="/">A related pattern</a></li>
      </ul>
    </div>
  </div>
</template>
